{% extends 'core/base.html' %}
{% block title %}
    Cliente
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">App Cliente</h1>
                <div class="text-center">
                    <a href="{% url 'cliente:list' %}" class="btn btn-primary mr-2">Lista de clientes</a>
                    <a href="{% url 'cliente:form' %}" class="btn btn-secondary">Formulario de clientes</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
