<!-- Categories widget-->
<div class="card mb-4">
    <div class="card-header">HP INDIGO</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">6K</a></li>
                    <li><a href="#!">15K</a></li>
                    <li><a href="#!">25K</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">100K</a></li>
                    <li><a href="#!">200K</a></li>
                    <li><a href="#!">V12</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>