<!-- Side widget-->
<div class="card mb-4">
    <div class="card-header">Servicios</div>
    <div class="card-body">
        <p>Asesoramos a nuestros clientes y les brindamos la solución tecnológica adecuada a sus mercados, expectativas y posibilidades. 
        Como importadores directos tenemos para ofrecerte no sólo variedad de productos, sino el precio más conveniente, stock, financiación y cobertura en Argentina, Uruguay y Paraguay.</p>
        <p>Capacitamos constantemente a nuestro servicio técnico para brindar la mejor asistencia a los clientes.
        Nuestro amplio stock de repuestos, en combinación con nuestro departamento de comercio exterior, permiten responder rápidamente ante cualquier necesidad.</p>
        </div>
</div>